body {
    margin: 0;
}

button {
    border: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    border-bottom: 1px solid #999999;
    padding: 1%;
    color: #333333;
    padding-left: 2%
}

.titleCooperation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleCooperationThin {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.titleCooperationBold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header .projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #cc6600;
    color: #cc6600;
    margin: 0;
    align-content: center;
    justify-content: center;
    background-color: white;
    margin-left: 5%;
}

.header .create {
    display: flex;
    background-color: #cc6600;
    color: white;
    text-align: center;
    margin-left: 5%;
    padding: 0.75% 3%;
    border-radius: 10px;
}

.titlePanel {
    display: flex;
    flex-direction: row;
    padding: 3%;
    padding-left: 2%;
}

.ProjectTitlle {
    margin-left: 1%
}

.ProjectName {
    color: #666666;
}

.ProjectDescription {
    font-size: small;
    color: #999999;
}

.link {
    margin-left: 4%;
    color: #666666;
}

.main {}

.main .chat {
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 1%;
}

.main .ChatTitle {
    text-align: center;
    font-weight: 600;
    color: black;
}

.backText {
    margin-left: 0.5%;
    color: #666666;
    font-size: initial;
}

.main .back {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    margin-left: 2%;
}

.main .Arrow {}

.main .Arrow img {
    margin-top: 50%
}

.user {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.avatar {
    display: flex;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0.5%;
}

.name {
    color: #cc6600;
    font-weight: bold;
}

.nameData {
    display: flex;
}

.data {
    margin-left: 15%;
    color: #cccccc;
    font-size: small;
    display: flex;
    align-items: center;
}

.message {
    color: #666666;
}

.messages {
    max-height: 45vh;
    overflow: auto;
}

.messages::-webkit-scrollbar {
    width: 0;
}

.main .container {
    width: 40%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: 0;
    margin-top: 3%;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.inputMessage {
    flex: 10;
    height: 100%;
    width: 100%;
    padding: 0.75%;
    outline: 0;
    border: 0;
    resize: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    font-size: 2rem;
}

.niceImg {
    flex: 1;
    background-image: url('../img/icons/mic.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}

.stopIcon {
    flex: 1;
    background-image: url('../img/icons/stop.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}

.inputMessage:-ms-textarea-placeholder {
    font-family: 'PT Sans', sans-serif;
}

.container button {
    border: 0;
    background-color: white;
    padding: 3%;
}

.container button img {
    max-width: 40%;
    float: right;
}